* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

details {
  width: 90%;
  margin: 0 auto;
  background: #282828;
  margin-bottom: 0.5rem;
  box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 19px;
  display: block;
  background: #333;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  color: #fff;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 5px;
}

td.tl {
  text-align: left !important;
}

tr.score-line td {
  border-top: 1px solid #fff;
}

.result-container {
  display: flex;
  width: 100%;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bar {
  display: flex;
  justify-content: end;
  width: 100%;
  position: sticky;
  top: 0px;
  height: 60px;
  z-index: 6;
  background-color: #fff;
}
.bar button {
  border: 0;
  background-color: transparent;
  margin-right: 15px;
}

.bar button img:hover {
  cursor: pointer;
}

.box {
  width: 100%;
}
